<h1>Home Page for the Library Application</h1>
<h3>AKA the "Pitcher"</h3>


<p>This application is the central repository of documents that can be synced to customers own applications, depending on what is relevant for those customers, and what they pay for.</p>

<p>Here is the list of all of the documents</p>
<%= link_to 'Documents', documents_path %>

<p>And here is the list of all of the customers</p>
<%= link_to 'Customers', customers_path %>

<p>Which customers are connected to which documents is controlled by the webhooks collection. Each webhook contains the information required to send the data to each specific customer application each time the document is updated.</p>
<%= link_to 'Webhooks', webhooks_path %>



