<% if notice.present? %>
  <div class="alert alert-success" role="alert"><%= notice %></div>
<% end %>

<div class="container">
  <h1 class="my-4">Documents</h1>

  <p class="mb-4">List of all of the documents controlled by Pitcher. A Customer can subscribe to any of these documents.</p>

  <hr>
  <div id="documents">
    <table id="documentsTable" class="table table-striped">
      <thead>
        <tr>
          <th>Description</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @documents.each do |document| %>
          <tr>
            <td><%= document.description %></td>
            <td><%= link_to 'Show', document, class: 'btn btn-primary' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= link_to "New document", new_document_path, class: "btn btn-success my-4" %>

  <hr class="my-4">
</div>

<script>
$(document).ready(function() {
  $('#documentsTable').DataTable();
});
</script>